.container-flex{
     background-color: rgba(183, 125, 18, 0.571);
     border-radius: 24px ;
     padding: .5em;
     margin-bottom: 4%;
     max-width: 80vh;
}
h2{
     font-size: 20px;
     text-align: center;
     color: #FFF;
}
.description {
     text-align: center;
     color: #FFF;

}

.container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 2%;
}
.movie-image{
     max-width: 80vh;
}
.emote{
     width: 24px;
     display: flex;
     margin-right: 12px;
}
.option{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 1vh;
     background-color: blue;
     height: 32px;
     border-radius: 2px;
     max-width: 80vh;

}
.option:nth-child(1){
     background-color: #69EC76;
}
.option:nth-child(2){
     background-color: #B4F9C4;
}
.option:nth-child(3){
     background-color: #ECF9BA;
}
.option:nth-child(4){
     background-color: #F0C061;
}
.option:nth-child(5){
     background-color: #F36464;
}

.square{
     background-color: #FFF;
     width: 32px;
     height: 32px;
     border: #000 dashed .5px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 12px;
}